@page
@model Uzenetkuldo.Pages.BelepesModel



Belépés

<form method="post">
    <div>
        <label for="Cím">Írd be az email címed!</label>
        <input maxlength="200" type="email" id="email" name="email" asp-for="Email" />
    </div>
    <br />
    <button type="submit">Belépés</button>
</form>



@{
}
